<div class="row" ng-controller="DownloadedCtrl">
    <div class="col-sm-12">
        <p>Download dir: {{downloadDIR}}</p>
        <div class="btn btn-info" ng-click="changeDownloadDIR()">Change dir</div>
        <hr>
        <div class="mod-container">
            <div class="mod" ng-repeat="r in results">
                <div class="row">
                    <div class="col-sm-9 name">
                        {{r.name}}
                    </div>
                    <div class="col-sm-3 ksp text-right">
                        KSP: {{r.versions[0].ksp_version}}
                    </div>
                </div>
                <div class="space"></div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-12">Latest version: {{r.versions[0].friendly_version}} (KSP v.{{r.versions[0].ksp_version}})</div>
                        </div>
                    </div>
                    <div class="col-sm-4 buttons text-right">
                        <div class="btn-group">
                            <a ng-click="removeFromDownloaded(r)"
                               class="btn btn-danger btn-sm" tooltip="Remove"><i class="fa fa-remove"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>