<div class="row" ng-controller="FavouriteCtrl">
    <div class="col-sm-12">
        <p>Download dir: {{downloadDIR}}</p>

        <div class="btn btn-info" ng-click="changeDownloadDIR()">Change dir</div>
        <hr>
        <div class="mod-container">
            <div class="mod" ng-repeat="r in results">
                <div class="row">
                    <div class="col-sm-9 name">
                        {{r.name}}
                    </div>
                    <div class="col-sm-3 ksp text-right">
                        {{r.versions[0].ksp_version}}
                    </div>
                </div>
                <div class="space"></div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-12">Version: {{r.versions[0].friendly_version}}</div>
                        </div>
                    </div>
                    <div class="col-sm-4 buttons">
                        <div class="btn-group">
                            <a ng-click="download('https://kerbalstuff.com'+ r.versions[0].download_path)"
                               class="btn btn-warning btn-sm" tooltip="Download"><i class="fa fa-floppy-o"></i></a>
                            <a ng-click="openUrl(r)"
                               class="btn btn-info btn-sm" ng-if="r.url" tooltip="KerbalStuff"><i class="fa fa-link"></i></a>
                            <a ng-click="openWebsite(r)"
                               class="btn btn-info btn-sm" ng-if="r.website" tooltip="KSP forum"><i class="fa fa-code"></i></a>
                            <a ng-click="removeFromFavourites(r)"
                               class="btn btn-danger btn-sm" tooltip="Remove from favourites"><i class="fa fa-remove"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>